
@model MyPay.Models.Add.AddDealsandOffers

@{
    ViewBag.Title = "DealsAndOffers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- content --s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Deals and Offers Setup</h3>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->


                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">

                            <div class="card-inner position-relative card-tools-toggle pb-3 pt-3">
                                <div class="card-title-group">
                                    <div class="card-tools">
                                        <span class="preview-title-lg overline-title pb-0">Add New Deals and Offers</span>
                                        <br />
                                        <div class="nk-block-des text-soft">
                                            <p><b>Note:</b> Deals and Offers are only applied on minimum and maximum amount</p>
                                        </div>

                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <div class="nk-divider divider my-5"></div>
                                <div class="nk-block">
                                    <div class="row gy-4">
                                        <div class="col-lg-4 col-sm-6" id="div_Provider">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">Category  <strong class="text-danger">*</strong></label>
                                                    @Html.DropDownList("ProviderType", ViewBag.ProviderType as SelectList, "", new { @id = "drpProvider", @class = "form-select form-control form-control-md" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6" id="div_ProviderServices">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">Provider Service <strong class="text-danger">*</strong></label>
                                                    @Html.DropDownListFor(m => m.ServiceId, ViewBag.SERVICEId as SelectList, "", new { @id = "drpProviderServices", @class = "form-select form-control form-control-md" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6" id="div_KycType">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">Kyc Type <strong class="text-danger">*</strong></label>
                                                    @Html.DropDownListFor(m => m.KycStatus, ViewBag.KycStatus as SelectList, "", new { @class = "form-select form-control form-control-md" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6" id="div_GenderStatus">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">Gender Status <strong class="text-danger">*</strong></label>
                                                    @Html.DropDownListFor(m => m.GenderStatus, ViewBag.GenderStatus as SelectList, "", new { @class = "form-select form-control form-control-md" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">Type</label>
                                                    @Html.EnumDropDownListFor(m => m.EnumScheduleStatus, "--Select Status Type--", new { @id = "drpScheduleStatus", @class = "form-select form-control form-control-md" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <a id="anchor_SearchCoupons" href="javascript:void(0);" onclick="return false;" class="btn btn-sm btn-success">  Search  </a>

                                                    <a id="anchor_addCouponsRow" href="javascript:void(0);" onclick="return AddDealsAndOffersRow();" class="btn btn-sm btn-warning btnaddsearch"><em class="icon ni ni-plus"></em> Add New Deals And Offers. </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-search search-wrap" data-search="search">
                                        <div class="card-body">
                                            <div class="search-content">
                                                <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                                <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                            </div>
                                        </div>
                                    </div><!-- .card-search -->
                                </div><!-- .card-inner -->
                                <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                    @ViewBag.Message
                                </div>
                                <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                                    @ViewBag.SuccessMessage
                                </div>
                                <div class="table-responsive">
                                    <table id="tbllist" class=" nk-tb-list nk-tb-ulist table table-striped" data-auto-responsive="false">
                                        <thead class="lg-th-head">
                                            <tr class="nk-tb-item nk-tb-head ">

                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Sno")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Created Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Updated Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Service Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Title")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Description")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Promo Code")
                                                        <p id="randomNumber"></p>
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Coupon Percentage(%)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Min Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Max Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("One Time")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Once a day")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Gender Type ")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Kyc Type ")
                                                    </span>
                                                </th>

                                                <th class="nk-tb-col min-150">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Publish Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-150">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Expiry Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-150">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Schedule Status")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Coupon Value")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Coupon Quantity")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Action")
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div><!-- .table-responsive -->
                            </div><!-- .card -->
                        </div><!-- .nk-block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/js/dtable_admindealsandoffers.js"></script>
<script>

    var KycSelect = JSON.parse('@Html.Raw(ViewBag.KycStatusListJson)');
    var GenderSelect = JSON.parse('@Html.Raw(ViewBag.GenderListJson)');
    var CategorySelect = JSON.parse('@Html.Raw(ViewBag.CategoryListJson)');



    function generateRandomString(length) {
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        let result = '';

        for (let i = 0; i < length; i++) {
            const randomIndex = Math.floor(Math.random() * characters.length);
            result += characters.charAt(randomIndex);
        }

        return result;
    }

    const randomString = generateRandomString(8); // Change the length as needed
    console.log(randomString);


</script>
