@model MyPay.Models.Add.Agent.AgentCommission

@{
    ViewBag.Title = "AgentCommissionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .popupagent {
        /* Set the width and height of your popup */
        /* width: 300px;
        height: 200px;*/
        /* Add a border with solid style, black color, and 2px width */
        /*border: 2px solid ;*/
        /* Add some padding inside the border */
        /* padding: 10px;*/
        /* Optionally, you can center the popup on the screen */
        position: absolute;
        top: 35%;
        left: 49%;
        transform: translate(-50%, -50%);
        /* Add other styles as needed */
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
</style>

<div class="nk-content ">
    <input type="hidden" id="hdnMerchantId" value="" />
    <input type="hidden" id="hdnroleid" value="" />
    <input type="hidden" id="hdndumpurl" value="@ViewBag.DumpURL" />
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">View Agent Category</h3>
                            @*<div class="nk-block-des text-soft">
                                    <p>You have total  <span id="merchanttotalcount"></span> Agent.</p>
                                </div>*@
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                @*<a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>*@
                                <!--<div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">-->
                                        @*<li>
                                                <a href="javascript:void(0);" id="AllMerchantExport" onclick="AllMerchantexported(this, event)" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Merchant Dump Export</span></a>
                                            </li>*@
                                        @*<li>
                                                <a href="javascript:void(0);" onclick="AllAgentDownload()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download"></em></a>
                                            </li>*@
                                        <!--<li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="~/Agent/AddAgentCategory" class="btn btn-icon btn-primary" title="Add Merchant"><em class="icon ni ni-plus"></em></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>-->
                            </div><!-- .toggle-wrap -->

                            <div class="popupagent" id="dvMsgSuccess1">
                                <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                    @TempData["SuccessMessagecategory"]
                                </div>
                            </div>

                            <div class="popupagent" id="dvMsg1">
                                <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                                    @TempData["Messagecategory"]
                                    @*@ViewBag.Message*@
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->


                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">

                            @*<div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                    @TempData["SuccessMessagecategory"]
                                </div>*@


                            <!--<div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                               @TempData["Messagecategory"]-->
                            @*@ViewBag.Message*@
                            <!--</div>-->
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="row gy-4">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <label class="form-label">Agent Category</label>
                                                @Html.TextBoxFor(m => m.AgentCategory, new { @class = "form-control form-control-md", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m.AgentCategoryId, new { @id = "hdn_AgentCategoryId_V" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <label class="form-label">Service Category  <strong class="text-danger">*</strong></label>
                                                @Html.DropDownListFor(m => m.ProviderType, ViewBag.ProviderType as SelectList, "", new { @id = "drpProvider_V", @class = "form-select form-control form-control-md" })

                                                @*@Html.DropDownList("ProviderType", ViewBag.ProviderType as SelectList, "", new { @id = "drpProvider", @class = "form-select form-control form-control-md" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <label class="form-label">Service Provider <strong class="text-danger">*</strong></label>
                                                @Html.DropDownListFor(m => m.ServiceId, ViewBag.SERVICEId as SelectList, "", new { @id = "drpProviderServices_V", @class = "form-select form-control form-control-md" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">KYC Type <strong class="text-danger">*</strong></label>
                                                    @Html.EnumDropDownListFor(x => x.KycTypeEnum, "--- Select Kyc Type ---", new { @class = "form-select form-control form-control-md" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <label class="form-label">Gender Type <strong class="text-danger">*</strong></label>
                                                    @Html.EnumDropDownListFor(x => x.GenderTypeEnum, "--- Select Gender Type ---", new { @class = "form-select form-control form-control-md" })
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <label class="form-label">Type</label>
                                                @* @Html.DropDownList("Type", ViewBag.Type as SelectList, "", new { @id = "Type", @class = "form-select form-control form-control-md " })*@
                                                @Html.EnumDropDownListFor(m => m.EnumScheduleStatus, "--Select Status--", new { @id= "EnumScheduleStatus_V",
                                               @class = "form-select form-control form-control-md" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <a id="agent_SearchCommission_V" href="javascript:void(0);" onclick="return false;" class="btn btn-sm btn-success">  Search  </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                    @ViewBag.Message
                                </div>
                                <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                                    @ViewBag.SuccessMessage
                                </div>
                                <div class="table-responsive">
                                    <table id="tbllist" class=" nk-tb-list nk-tb-ulist table table-striped" data-auto-responsive="false">
                                        <thead class="lg-th-head">
                                            <tr class="nk-tb-item nk-tb-head ">

                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Sno")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Created Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Updated Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Service Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Min Slab Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Max Slab Amount")
                                                    </span>
                                                </th>
                                                @*<th class="nk-tb-col min-100">
                                                        <span class="sub-text">
                                                            @Html.DisplayName("Fixed Amount")
                                                        </span>
                                                    </th>*@
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Cashback Amount(%)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("MP-Coins Credit(%)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("MP-Coins Debit(%)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Min Allowed Cashback")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Max Allowed  Cashback")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Service Charge(%)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Min Allowed Service Charge")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Max Allowed Service Charge")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100 Clschildcommission">
                                                    <span class="sub-text-child">
                                                        @Html.DisplayName("Child Txn Rate (%)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100 Clschildcommission">
                                                    <span class="sub-text-child">
                                                        @Html.DisplayName("Child Txn Min Amount")
                                                    </span>
                                                </th>

                                                <th class="nk-tb-col min-100 Clschildcommission">
                                                    <span class="sub-text-child">
                                                        @Html.DisplayName("Child Txn Max Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100 Clschildcommission">
                                                    <span class="sub-text-child">
                                                        @Html.DisplayName("Monthly Min Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100 Clschildcommission">
                                                    <span class="sub-text-child">
                                                        @Html.DisplayName("Monthly Max Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100 Clschildcommission">
                                                    <span class="sub-text-child">
                                                        @Html.DisplayName("Monthly Bonus (%)")
                                                    </span>
                                                </th>

                                                @*<th class="nk-tb-col min-100">
                                                        <span class="sub-text">
                                                            @Html.DisplayName("Gender Type ")
                                                        </span>
                                                    </th>
                                                    <th class="nk-tb-col min-100">
                                                        <span class="sub-text">
                                                            @Html.DisplayName("Kyc Type ")
                                                        </span>
                                                    </th>*@
                                                <th class="nk-tb-col min-150">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("From Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-150">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("To Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-150">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Schedule Status")
                                                    </span>
                                                </th>
                                               
                                            </tr>
                                        </thead>

                                    </table>
                                </div><!-- .table-responsive -->


                            </div>





                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->



            </div>
        </div>
    </div>
</div>

<style>
    .Clschildcommission {
        background-color: #f3ec0c;
        border: 1px solid black;
        border-top: 1px solid black !important;
        border-bottom: 1px solid black !important;
    }

    .sub-text-child {
        display: block;
        font-size: .99em;
        font-weight: 500;
        color: black;
    }
</style>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/js/dtable_agent.js"></script>
<script>
    $(document).ready(function () {
        BindAgentCommissionDataTable_View();
    });



</script>