
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/Content/assets/js/libs/jquery-multiselect/jquery.dropdown.css">
<script src="/Content/assets/js/libs/jquery-multiselect/jquery.dropdown.js"></script>

<div class="nk-content ">
    <input type="hidden" id="hdntxnid" value="" />
    <input type="hidden" id="hdnroleid" value="" />
    <input type="hidden" id="hdndumpurl" value="@ViewBag.DumpURL" />

    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Settlement Report</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <a href="javascript:void(0);" onclick="exported()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" id="AllTxnexport" onclick="AllTxnexported(this, event)" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Settlement Dump Export</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="AllTxndownload()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download"></em></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <div id="dvMessage" class="form-group form-label" style="color:red; text-align:center;">
                                            @ViewBag.Message
                                        </div>
                                        <div id="dvSuccess" class="form-group form-label" style="color: green; text-align: center;">
                                            @ViewBag.SuccessMessage
                                        </div>
                                    </div>
                                </div>
                                <div class="row gy-4">
                                    <div class="col-lg-12 col-sm-12">
                                        <span class="form-label-outlined">Select Service</span>
                                        <div class="form-group">
                                            <div class="dropdown-mul-2">
                                                @Html.DropDownList("Type", ViewBag.Type as SelectList, "", new { @id = "typelist", @class = "", @style = "display:none", @multiple = "multiple", @placeholder = "Select Service" })
                                                <input type="hidden" id="selectedProvider" name="selectedProvider" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("StartDate", "", new { @id = "fromdate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="fromdate">From Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("ToDate", "", new { @id = "todate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="todate">To Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("MemberId", "", new { @id = "MemberId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Member Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Member Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ContactNumber", "", new { @id = "ContactNumber", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @maxlength = 10, @onkeypress = "return isNumberKey(this, event);", @placeholder = "Mobile Number" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Mobile Number</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("Name", "", new { @id = "Name", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Name" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Name</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("TransactionId", "", new { @id = "TransactionId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Transaction Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("GatewayTransactionId", "", new { @id = "GatewayTransactionId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Gateway Txn Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Gateway Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ParentTransactionId", "", new { @id = "ParentTransactionId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Parent TranscationId" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Gateway Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("Reference", "", new { @id = "Reference", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Tracker Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Gateway Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("SubscriberId", "", new { @id = "SubscriberId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Subscriber Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("Status", ViewBag.Status as SelectList, "", new { @id = "status", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">MyPay Status</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("DayWise", ViewBag.DayWise as SelectList, "", new { @id = "DayWise", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">DayWise</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("Sign", ViewBag.Sign as SelectList, "", new { @id = "Sign", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">Sign</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("WalletType", ViewBag.WalletType as SelectList, "", new { @id = "WalletType", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">Wallet Type</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("VendoTypes", ViewBag.VendoTypes as SelectList, "", new { @id = "VendoTypes", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">Gateway</label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    @*<div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <div class="form-control-wrap">
                    @Html.DropDownList("Type", ViewBag.Type as SelectList, "", new { @id = "Type", @class = "form-select form-control form-control-md form-control-outlined" })
                    <label class="form-label-outlined" for="outlined-normal">Service</label>
                </div>
            </div>
        </div>*@
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <a class="btn btn-primary text-center text-white" onclick="return bindtable();">Search</a>
                                            @*<button type="submit" class="btn btn-primary text-center">Search</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dvtblist" class="card-inner">
                                <div class="row">
                                    <div class="col">
                                        <b>Total:</b><span id="totaltra"></span>
                                        <b>Credit:</b><span id="totalCredit"></span>
                                        <b>Debit:</b><span id="totalDebit"></span>
                                        <b>Service Charge:</b><span id="totalServiceCharge"></span>
                                        <b>Total Balance:</b><span id="totalTotalBalance"></span>
                                        <b>Coins Credit:</b><span id="totalCoinsCredit"></span>
                                        <b>Coins Debit:</b><span id="totalCoinsDebit"></span>
                                        <b>Coupon Discount:</b><span id="totalCouponDiscount"></span>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="tblist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr>
                                                <th class="nk-tb-col">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("SrNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Updated Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Member Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Transaction Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Gateway Txn Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("ParentTransactionId")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Tracker Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Contact No")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Subscriber Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Amount (Rs)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Sign")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Service")
                                                    </span>
                                                </th>

                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Txn Amount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("MPCoinsCredit")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("MPCoinsDebit")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("MPCoins Balance")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Prev MPCoins Balance")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Txn Mode")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Available Balance (Rs)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Previous Balance (Rs)")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Service Charge")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Cashback")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Discount")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Coupon")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Sender Bank Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Sender AccountNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Receiver Bank Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Receiver AccountNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Remarks")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Gateway Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Gateway Status")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("My Pay Status")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Update By")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Ip Address")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Platform")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("View")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Status")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Download")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Change Status")
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div><!-- .card-inner -->

                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
    <div class="modal fade " tabindex="-1" id="singleTransaction">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body modal-body-sm">
                    <div class="nk-modal">
                        @*<em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>*@
                        <h4 class="nk-modal-title text-center">Detail</h4>
                        <div class="nk-modal-text">
                            <div class="row">
                                <div class="col-md-12 " id="singleTxn"></div>
                            </div>
                        </div>
                        <div class="nk-modal-action mt-5 text-center">
                            <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-light " data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div><!-- .modal-body -->
            </div>
        </div>
    </div>
    <div class="modal fade " tabindex="-1" id="TxnStatus">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body modal-body-sm">
                    <div class="nk-modal">
                        @*<em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>*@
                        <h4 class="nk-modal-title text-center">Change Transaction Status</h4>
                        <div class="nk-modal-text">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <select name="txnstatus" id="drptxnstatus" onchange="getNewVal(this);" class="form-select form-control form-control-md form-control-outlined">
                                            <option value="0">--- Select Status ---</option>
                                            <option value="1">Success</option>
                                            <option value="3">Failed</option>
                                        </select>
                                        <label class="form-label-outlined" for="outlined-normal">Select Status</label>
                                    </div>
                                    <div class="col-md-6" id="gatewaytxnid" style="display:none;">
                                        <label for="txtGatewayID">Gateway Txn ID: </label>
                                        <input type="text" id="txtGatewayID" name="txtGatewayID" placeholder="Enter Gateway Txn ID" class="form-control form-control-md form-control-outlined" />
                                    </div>
                                    <div class="col-md-6" id="checkrefund" style="display:none;">
                                        <label for="chkRefund">Initiate Refund ? </label>
                                        <input type="checkbox" id="chkRefund" name="chkRefund" class="form-control form-control-md" />
                                        <input type="hidden" id="hdnChkRefund" name="hdnChkRefund" value="0" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <label for="txtRemarks">Remarks: </label>
                                        <textarea id="txtRemarks" name="txtRemarks" cols="40" placeholder="Enter Remarks" rows="5" class="form-control form-control-md form-control-outlined"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <span style="color:red" id="dvPopupMsg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-modal-action mt-5 text-center">
                        <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-primary" onclick="SubmitTxnStatus();">Submit</a>
                        <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-light" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="./content/assets/js/dtable_transactions.js"></script>
<script type="text/javascript" src="~/Content/assets/js/userscripts.js"></script>

<script>

    $('.dropdown-mul-2').dropdown({
        multipleMode: 'label',
        searchable: true,
        choice: function () {
            console.log(arguments, this);
        }
    });


    $(document).ready(function () {
        var sessroleid =@Session["AdminRole"];
        $("#hdnroleid").val(sessroleid);
        $("#dvtblist").css("display", "none");
        var Reference = '@ViewBag.Reference';
        var TransactionId = '@ViewBag.TransactionId';
        var MemberId = '@ViewBag.MemberId';
        var GatewayTransactionId = '@ViewBag.GatewayTransactionId';
        var ParentTransactionId = '@ViewBag.ParentTransactionId';
        var SubscriberId = '@ViewBag.SubscriberId';
        if (Reference == "" && TransactionId == "" && MemberId == "" && GatewayTransactionId == "" && ParentTransactionId == "" && SubscriberId=="") {
                $('.date-picker').datepicker({
                    format: "dd-M-yyyy"
                }).datepicker('setDate', 'today');
            }
        //BindDataTable();

        $("#chkRefund").click(function () {
            $("#hdnChkRefund").val($("#chkRefund") ? "1" : "0");
        });
    });


    function bindtable() {
        $("#dvtblist").css("display", "block");
        var selectedProvider = "";
        $("#typelist :selected").each(function () {
            if (selectedProvider != "") {
                selectedProvider = (this.value) + "," + selectedProvider;
            }
            else {
                selectedProvider = (this.value);
            }
        });
        $("#selectedProvider").val(selectedProvider);
        BindDataTable();
    };

    function GetTxnDetail(Sign, Status, Date, UpdatedDate, MemberId, TxnId, VendorTxnId, MemberName, ContactNumber, SubscriberId, Amount, SignName, TypeName, SenderBankName, SenderAccountNo, ReceiverBankName, ReceiverAccountNo, ServiceCharge, CashBack, GatewayName, GatewayStatus, StatusName, CurrentBalance, PreviousBalance, AdditionalInfo1, IpAddress) {
               $("#singleTxn").html("");
        if (Date != "" & TxnId != "" && MemberId != "") {
            var str = '<div class="table-responsive"><table class="nowrap nk-tb-list nk-tb-ulist table-bordered h-100">';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Date :</span></td><td class="nk-tb-col"><span>' + Date + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Updated Date :</span></td><td class="nk-tb-col"><span>' + UpdatedDate + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Member Id :</span></td><td class="nk-tb-col"><span class="tb-lead">' + MemberId + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Transaction Id :</span></td><td class="nk-tb-col"><span><strong style="color: #f98c45">#' + TxnId + '</strong></span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Gateway Transaction Id :</span></td><td class="nk-tb-col"><span>' + VendorTxnId + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Name :</span></td><td class="nk-tb-col"><span>' + MemberName + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Request Id :</span></td><td class="nk-tb-col"><span>' + ContactNumber + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Subscriber Id :</span></td><td class="nk-tb-col"><span>' + SubscriberId + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Amount (Rs) :</span></td><td class="nk-tb-col"><span class="tb-lead">' + Amount + '</span></td></tr>';
            if (Sign == 1) {
                str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Sign : </span></td><td class="nk-tb-col"><span class="tb-status text-success">' + SignName + '</span></td></tr>';
            }
            else {
                str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Sign : </span></td><td class="nk-tb-col"><span class="tb-status text-danger">' + SignName + '</span></td></tr>';
            }

            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Type :</span></td><td class="nk-tb-col"><span>' + TypeName + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Sender Bank Name :</span></td><td class="nk-tb-col"><span>' + SenderBankName + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Sender AccountNo :</span></td><td class="nk-tb-col"><span>' + SenderAccountNo + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Receiver Bank Name :</span></td><td class="nk-tb-col"><span>' + ReceiverBankName + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Receiver AccountNo :</span></td><td class="nk-tb-col"><span>' + ReceiverAccountNo + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Service Charge :</span></td><td class="nk-tb-col"><span>' + ServiceCharge + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>CashBack :</span></td><td class="nk-tb-col"><span>' + CashBack + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Gateway Name:</span></td><td class="nk-tb-col"><span>' + GatewayName + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Gateway Status:</span></td><td class="nk-tb-col"><span>' + GatewayStatus + '</span></td></tr>';
            if (Status == 1) {
                str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Status :</span></td><td class="nk-tb-col"><span class="tb-status text-success">' + StatusName + '</span></td></tr>';
            }
            else if (Status == 3) {
                str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Status :</span></td><td class="nk-tb-col"><span class="tb-status text-danger">' + StatusName + '</span></td></tr>';
            }
            else {
                str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Status :</span></td><td class="nk-tb-col"><span class="tb-status text-orange">' + StatusName + '</span></td></tr>';
            }

            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Current Balance (Rs) :</span></td><td class="nk-tb-col"><span>' + CurrentBalance + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Previous Balance (Rs) :</span></td><td class="nk-tb-col"><span>' + PreviousBalance + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Additional Info :</span></td><td class="nk-tb-col"><span>' + AdditionalInfo1 + '</span></td></tr>';
            str += '<tr class="nk-tb-item"><td class="nk-tb-col"><span>Ip Address :</span></td><td class="nk-tb-col"><span>' + IpAddress + '</span></td></tr>';
            str += '</table></div>';
            $("#singleTxn").append(str);
            $('#singleTransaction').modal('show');
            return false;
        }
    }

    function exported(e) {
        var MemberId = $("#MemberId").val();
        var ContactNumber = $("#ContactNumber").val();
        var Name = $("#Name").val();
        var TransactionId = $("#TransactionId").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();
        var GatewayTransactionId = $("#GatewayTransactionId").val();
        var Status = $("#status :selected").val();
        var DayWise = $("#DayWise :selected").val();
        var Sign = $("#Sign :selected").val();
        if (MemberId == "") {
            MemberId = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportExcel", "AdminTransactions")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '{"MemberId":"' + parseInt(MemberId) + '","ContactNo":"' + ContactNumber + '","Name":"' + Name + '","TxnId":"' + TransactionId + '","FromDate": "' + fromdate + '", "ToDate": "' + todate + '", "GatewayTxnId": "' + GatewayTransactionId + '", "Status": "' + Status + '","DayWise":"' + DayWise + '","Sign":"' + Sign + '"}',

        }).done(function (data) {
            //get the file name for download
            if (data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "AdminTransactions", Action = "Download" })/?fileName=" + data.fileName;
            }
        });
    }


    function AllTxnexported(obj, e) {
        debugger;
        var MemberId = $("#MemberId").val();
        var ContactNumber = $("#ContactNumber").val();
        var Name = $("#Name").val();
        var TransactionId = $("#TransactionId").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();
        var GatewayTxnId = $("#GatewayTransactionId").val();
        var ParentTxnId = $("#ParentTransactionId").val();
        var TrackerId = $("#Reference").val();
        var SubscriberId = $("#SubscriberId").val();
        var Status = $("#status :selected").val();
        var DayWise = $("#DayWise :selected").val();
        var Sign = $("#Sign :selected").val();
        var Service = $("#selectedProvider").val();
        if (MemberId == "") {
            MemberId = 0;
        }

        if (window.location.href.indexOf($("#hdndumpurl").val()) > -1)
        {
            if (fromdate == "") {
                alert("Please select Start Date");
                return false;
            }
            else if (todate == "") {
                alert("Please select End Date");
                return false;
            }
            else if (fromdate != "" && todate != "") {
                var enddate = new Date(todate);
                var startdate = new Date(fromdate);
                var difference = enddate - startdate;
                var totaldays = Math.ceil(difference / (1000 * 3600 * 24));
                if (totaldays > 5) {
                    alert("You cannot export report more than 5 days. So please select StartDate and EndDate accordingly.");
                    return false;
                }
                else {
                    alert("Your exported file is being generated. Please download the new excel after 15 mins. Please note that you can request to generate new file after 4 hrs.");
                    //$("#olduserexport").attr('disabled', true);
                    $("#AllTxnexport").hide();
                }
            }
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportExcelAllTxnDump", "AdminTransactions")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            data: '{"Service":"' + Service + '","FromDate": "' + fromdate + '", "ToDate": "' + todate + '","MemberId":"' + parseInt(MemberId) + '","ContactNo":"' + ContactNumber + '","Name":"' + Name + '","TxnId":"' + TransactionId + '", "GatewayTxnId": "' + GatewayTxnId + '","ParentTxnId": "' + ParentTxnId + '","TrackerId": "' + TrackerId + '","SubscriberId": "' + SubscriberId + '", "Status": "' + Status + '","DayWise":"' + DayWise + '","Sign":"' + Sign + '"}',

            }).done(function (data) {
           //get the file name for download
                if (data.fileName != "")
                {
                }
             else {
                            alert(data.errorMessage);
                        }
                    });
    }

    function AllTxndownload(e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadFileName", "AdminTransactions")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '',

        }).done(function (data) {
            //get the file name for download
            if (data!="" && data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "AdminTransactions", Action = "DownloadFile" })?fileName=" + data.fileName;
            }
            else {
                alert("no file found to download");
            }
        });
    }

    function ChangeTxnStatus(TxnId) {
        $("#hdntxnid").val(TxnId);
        $('#TxnStatus').modal('show');
        $('#txtRemarks').val("");
        $("#dvPopupMsg").html("");
        return false;
    }

    function getNewVal(item) {
        if (item.value == 3) {
            $("#checkrefund").removeAttr("style");
            $("#gatewaytxnid").css("display", "none");

        }
        else if (item.value == 1) {
            $("#checkrefund").css("display", "none");
            $("#gatewaytxnid").removeAttr("style");
        }
        else {
            $("#checkrefund").css("display", "none");
            $("#gatewaytxnid").css("display", "none");

        }
    }

    function SubmitTxnStatus() {
        var txnid = $("#hdntxnid").val();
        var selectedstatus = $("#drptxnstatus").val();
        var hdnChkRefund = $("#hdnChkRefund").val();
        var txtRemarks = $("#txtRemarks").val();
        var txtGatewayID = $("#txtGatewayID").val();

        if (selectedstatus == "" || selectedstatus == "0")
        {
            $("#dvPopupMsg").html('Please select status');
        }
        else if ($("#txtRemarks").val() == "")
        {
            $("#dvPopupMsg").html('Please enter remarks');
        }
        else {
            $.ajax({
            type: "POST",
            url: "/AdminTransactions/ChangeTxnStatus",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
                data: '{"Status":"' + selectedstatus + '","TxnId":"' + txnid + '","hdnChkRefund":"' + hdnChkRefund + '","txtRemarks":"' + txtRemarks + '","txtGatewayID":"' + txtGatewayID + '"}',
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    $("#dvPopupMsg").html(response);
                }
                else {
                    JsonOutput = "Something went wrong. Please try again later.";
                }
            },
            failure: function (response) {
                JsonOutput = (response.responseText);
                $("#dvPopupMsg").html(JsonOutput);
            },
            error: function (response) {
                JsonOutput = (response.responseText);
                $("#dvPopupMsg").html(JsonOutput);
            }
        });
        }
    }
</script>
