

@{ ViewBag.Title = "ReferAndEarn";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="nk-content ">
    <input type="hidden" id="hdndumpurl" value="@ViewBag.DumpURL" />
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Refer And Earn</h3>
                        </div><!-- .nk-block-head-content -->

                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <a href="javascript:void(0);" onclick="exported()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" id="ReferandEarnexport" onclick="ReferandEarnexported(this, event)" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Refer and Earn Dump Export</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="ReferandEarndownload()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download"></em></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="row gy-4">
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("StartDate", "", new { @id = "fromdate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="fromdate">From Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("ToDate", "", new { @id = "todate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="todate">To Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("RefCode", "", new { @id = "RefCode", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "RefCode" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Member Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("Referby", "", new { @id = "Referby", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Refer by Name" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Member Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-2 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            @Html.TextBox("ContactNumber", "", new { @id = "ContactNumber", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @maxlength = 10, @onkeypress = "return isNumberKey(this, event);", @placeholder = "Mobile Number" })-->
                                    @*<label class="form-label-outlined" for="outlined-normal">Mobile Number</label>*@
                                    <!--</div>
                                        </div>
                                    </div>-->
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ReferTo", "", new { @id = "ReferTo", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Refer To Name" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Name</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("TransactionId", "", new { @id = "TransactionId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Transaction Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ParentTransactionId", "", new { @id = "ParentTransactionId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Parent Txn Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("Status", ViewBag.Status as SelectList, "", new { @id = "status", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">MyPay Status</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("DayWise", ViewBag.DayWise as SelectList, "", new { @id = "DayWise", @class = "form-select form-control form-control-md form-control-outlined" })
                                                <label class="form-label-outlined" for="outlined-normal">DayWise</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <a class="btn btn-primary text-center text-white" onclick="return bindtable();">Search</a>
                                            @*<button type="submit" class="btn btn-primary text-center">Search</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner">
                                @*<div class="row">
                                        <div class="col">
                                            <b>Total:</b><span id="totaltra"></span>
                                            <b>Credit:</b><span id="totalCredit"></span>
                                            <b>Debit:</b><span id="totalDebit"></span>
                                        </div>
                                    </div>*@
                                <div id="dvtblist" class="table-responsive">
                                    <table id="tblist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr>
                                                <th class="nk-tb-col">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("SrNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Transaction Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Parent Txn Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Refer code")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Referred by Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Referred by ContactNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Referree earning cash")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Referred to Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Referred to ContactNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Referal earning cash")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Refer and earn initiated date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Cashback applied date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Ip Address")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Device Id")
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="./content/assets/js/dtable_transactions.js"></script>
<script type="text/javascript" src="~/Content/assets/js/userscripts.js"></script>


<script>
    $(document).ready(function () {
        $("#dvtblist").css("display", "none");
        $('.date-picker').datepicker({
            format: "dd-M-yyyy"
        }).datepicker('setDate', 'today');
        //BindReferAndEarnDataTable();
    });

    function bindtable() {
        $("#dvtblist").css("display", "block");
        BindReferAndEarnDataTable();
    };

    function exported(e) {
        var RefCode = $("#RefCode").val();
        var ReceiverName = $("#ReferTo").val();
        var MemberName = $("#Referby").val();
        var TransactionId = $("#TransactionId").val();
        var ParentTransactionId = $("#ParentTransactionId").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();
        var Status = $("#status :selected").val();
        var DayWise = $("#DayWise :selected").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ExportExcelReferandEarn", "AdminTransactions")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '{"ReceiverName":"' + ReceiverName + '","MemberName":"' + MemberName + '","TxnId":"' + TransactionId + '","ParentTxnId":"' + ParentTransactionId + '","FromDate": "' + fromdate + '", "ToDate": "' + todate + '","RefCode":"' + RefCode + '", "Status": "' + Status + '","DayWise":"' + DayWise + '"}',
        }).done(function (data) {
            //get the file name for download
            if (data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "AdminTransactions", Action = "Download" })/?fileName=" + data.fileName;
            }
        });
    }

    function ReferandEarnexported(obj, e) {
        var RefCode = $("#RefCode").val();
        var ReceiverName = $("#ReferTo").val();
        var MemberName = $("#Referby").val();
        var TransactionId = $("#TransactionId").val();
        var ParentTransactionId = $("#ParentTransactionId").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();
        var Status = $("#status :selected").val();
        var DayWise = $("#DayWise :selected").val();

        if (window.location.href.indexOf($("#hdndumpurl").val()) > -1) {
            if (fromdate == "") {
                alert("Please select Start Date");
                return false;
            }
            else if (todate == "") {
                alert("Please select End Date");
                return false;
            }
            else if (fromdate != "" && todate != "") {
                var enddate = new Date(todate);
                var startdate = new Date(fromdate);
                var difference = enddate - startdate;
                var totaldays = Math.ceil(difference / (1000 * 3600 * 24));
                if (totaldays > 5) {
                    alert("You cannot export report more than 5 days. So please select StartDate and EndDate accordingly.");
                    return false;
                }
                else {
                    alert("Your exported file is being generated. Please download the new excel after 15 mins. Please note that you can request to generate new file after 4 hrs.");
                    //$("#olduserexport").attr('disabled', true);
                    $("#ReferandEarnexport").hide();
                }
            }
        }
        $.ajax({
                        type: "POST",
                        url: '@Url.Action("ExportExcelReferAndEarnDump", "AdminTransactions")', //call your controller and action
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: true,
                        data: '{"ReceiverName":"' + ReceiverName + '","MemberName":"' + MemberName + '","TxnId":"' + TransactionId + '","ParentTxnId":"' + ParentTransactionId + '","FromDate": "' + fromdate + '", "ToDate": "' + todate + '","RefCode":"' + RefCode + '", "Status": "' + Status + '","DayWise":"' + DayWise + '"}',
                    }).done(function (data) {
                        //get the file name for download
                        if (data.fileName != "") {
                        }
                        else {
                            alert(data.errorMessage);
                        }

                    });
    }

    function ReferandEarndownload(e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadFileName", "AdminTransactions")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '',

        }).done(function (data) {
            //get the file name for download
            if (data!="" && data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "AdminTransactions", Action = "DownloadFile" })?fileName=" + data.fileName;
            }
            else {
                alert("no file found to download");
            }
        });
    }
</script>
