@model MyPay.Models.Add.AddVotingList

@{ ViewBag.Title = "VotingList";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Voting List</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <a href="javascript:void(0);" id="Allvotinglistexport" onclick="AllVotingListexported(this, event)" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Voting List Dump Export</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="AllVotingListdownload()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download"></em></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="exported()" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->

                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="row gy-4">
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("StartDate", "", new { @id = "fromdate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="fromdate">From Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("ToDate", "", new { @id = "todate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="todate">To Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @*<label class="form-label">Contact Number  </label>*@
                                                @Html.TextBox("MemberContactNumber", "", new { @id = "MemberContactNumber", @placeholder = "Contact Number", @class = "form-control form-control-md form-control", @autocomplete = "off", @maxlength = "10", @onkeypress = "return isNumberKey(this, event);" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @*<label class="form-label">Member Id</label>*@
                                                @Html.TextBox("MemberID", "", new { @id = "MemberID", @placeholder = "Member Id", @class = "form-control form-control-md form-control", @autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @*<label class="form-label">Member Name</label>*@
                                                @Html.TextBox("MemberName", "", new { @id = "MemberName", @placeholder = "Member Name", @class = "form-control form-control-md form-control", @autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @*<label class="form-label">CandidateName</label>*@
                                                @Html.TextBox("VotingCandidateName", "", new { @id = "VotingCandidateName", @placeholder = "CandidateName", @class = "form-control form-control-md form-control", @autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @*<label class="form-label">Competition</label>*@
                                                @Html.DropDownList("VotingCompetitionID", ViewBag.VOTINGCOMPETITIONID as SelectList, "", new { @id = "VotingCompetitionID", @class = "form-select form-control form-control-md" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <a class="btn btn-primary text-center text-white" onclick="return bindtable();">Search</a>
                                            @*<button id="btnSearch" type="submit" class="btn btn-primary text-center">Search</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner position-relative card-tools-toggle pb-3 pt-3">
                                <!-- <span class="preview-title-lg overline-title mb-4">User List</span> -->
                                <div class="card-title-group">
                                    <div class="card-tools">
                                        <span class="preview-title-lg overline-title pb-0">Voting List</span>
                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <div class="card-search search-wrap" data-search="search">
                                    <div class="card-body">
                                        <div class="search-content">
                                            <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                        </div>
                                    </div>
                                </div><!-- .card-search -->
                            </div><!-- .card-inner -->

                            <div id="dvtblist" class="card-inner">
                                <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                    @ViewBag.SuccessMessage
                                </div>
                                <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                                    @ViewBag.Message
                                </div>
                                <div class="table-responsive">
                                    <table id="tblist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr>
                                                <th class="nk-tb-col">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("SNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Created Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col min-100">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Competition Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Candidate Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("No Of Votes")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Member Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Member Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Member Contact")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Free Votes")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Paid Votes")
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/content/assets/js/dtable_voting.js"></script>
<script type="text/javascript" src="~/Content/assets/js/userscripts.js"></script>

<script>
    $(document).ready(function () {
        $("#dvtblist").css("display", "none");
        //BindVotingListDataTable();
    });
    function bindtable() {
        var MemberId = $("#MemberID").val();
        var MemberContactNumber = $("#MemberContactNumber").val();
        var MemberName = $("#MemberName").val();
        var VotingCandidateName = $("#VotingCandidateName").val();
        var VotingCompetitionID = $("#VotingCompetitionID").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();
        if (MemberId == "" && MemberContactNumber == "" && MemberName == "" && VotingCandidateName == "" && VotingCompetitionID == "0" && fromdate == "" && todate == "") {
            alert("Please select start date and end date or select Competition.")
        }
        else {
            $("#dvtblist").css("display", "block");
            BindVotingListDataTable();
        }

    };

    function exported(e) {
        var MemberId = $("#MemberID").val();
        var MemberContactNumber = $("#MemberContactNumber").val();
        var MemberName = $("#MemberName").val();
        var VotingCandidateName = $("#VotingCandidateName").val();
        var VotingCompetitionID = $("#VotingCompetitionID").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();

        if (MemberId == "") {
            MemberId = 0;
        }
        if (VotingCompetitionID == "") {
            VotingCompetitionID = 0;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("VotingListExportExcel", "Voting")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '{"MemberId":"' + parseInt(MemberId) + '","MemberContactNumber":"' + MemberContactNumber + '","MemberName":"' + MemberName + '","VotingCandidateName":"' + VotingCandidateName + '","FromDate": "' + fromdate + '", "ToDate": "' + todate + '", "VotingCompetitionID": "' + parseInt(VotingCompetitionID) + '"}',

        }).done(function (data) {
            //get the file name for download
            if (data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "Voting", Action = "Download" })/?fileName=" + data.fileName;
            }
        });
    }

    function AllVotingListexported(obj, e) {
        var MemberId = $("#MemberID").val();
        var MemberContactNumber = $("#MemberContactNumber").val();
        var MemberName = $("#MemberName").val();
        var VotingCandidateName = $("#VotingCandidateName").val();
        var VotingCompetitionID = $("#VotingCompetitionID").val();
        var fromdate = $("#fromdate").val();
        var todate = $("#todate").val();
        if (MemberId == "") {
            MemberId = 0;
        }
        if (VotingCompetitionID == "0") {
            alert("Please select Comppetition");
        }
        else {
            alert("Your exported file is being generated. Please download your exported excel after 15 mins.");
                //$("#olduserexport").attr('disabled', true);
                $("#AllVotingListexport").hide();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ExportExcelVotingListDump", "Voting")', //call your controller and action
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    data: '{"MemberId":"' + MemberId + '","FromDate": "' + fromdate + '", "ToDate": "' + todate + '","MemberContactNumber":"' + MemberContactNumber + '","MemberName":"' + MemberName + '","VotingCandidateName":"' + VotingCandidateName + '","VotingCompetitionID":"' + VotingCompetitionID + '"}',

                }).done(function (data) {
                    //get the file name for download
                    if (data.fileName != "") {
                    }
                    else {
                        alert(data.errorMessage);
                    }
                });
        }
    }

    function AllVotingListdownload(e) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadVotingListFileName", "Voting")', //call your controller and action
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '',

        }).done(function (data) {
            //get the file name for download
            if (data!="" && data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "Voting", Action = "DownloadVotingListFile" })?fileName=" + data.fileName;
            }
            else {
                alert("no file found to download");
            }
        });
    }
</script>
