@model MyPay.Models.Add.AddRemittanceUser

@{
    ViewBag.Title = "RemittancetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="nk-content ">
    <input type="hidden" id="hdnimage" value="" />
    <input type="hidden" id="hdnfilename" value="" />
    <input type="hidden" id="hdnMerchantId" value="" />
    <input type="hidden" id="hdnRemittanceIdUniqueId" value="" />
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Remittance Management</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total  <span id="merchanttotalcount"></span> Remittance User.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                @*<a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>*@
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="~/Remittance/Index" class="btn btn-icon btn-primary" title="Add Remittance User"><em class="icon ni ni-plus"></em></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->

                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                @ViewBag.Message
                            </div>
                            <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                            </div>
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="row gy-4">
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("MerchantUniqueId", "", new { @id = "MerchantUniqueId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                                <label class="form-label-outlined" for="MerchantUniqueId">Merchant Id</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ContactName", "", new { @id = "ContactName", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                                <label class="form-label-outlined" for="FirstName">Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("Email", "", new { @id = "Email", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                                <label class="form-label-outlined" for="Email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("StartDate", "", new { @id = "fromdate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="fromdate">Start Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("ToDate", "", new { @id = "todate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="todate">End Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <a class="btn btn-primary text-center text-white" onclick="return bindtable();">Search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner position-relative card-tools-toggle pb-3 pt-3">
                                <!-- <span class="preview-title-lg overline-title mb-4">User List</span> -->
                                <div class="card-title-group">
                                    <div class="card-tools">
                                        <span class="preview-title-lg overline-title pb-0">Remittance List</span>
                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <div class="card-search search-wrap" data-search="search">
                                    <div class="card-body">
                                        <div class="search-content">
                                            <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                        </div>
                                    </div>
                                </div><!-- .card-search -->
                            </div><!-- .card-inner -->
                            <div id="dvtblist" class="card-inner table-responsive" style="min-height:400px;">
                                <table id="tblmerlist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                    <thead>
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("SrNo")</span></th>
                                            <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Date")</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">@Html.DisplayName("Full Name")</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">@Html.DisplayName("User Name")</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">@Html.DisplayName("Contact")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Email")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Merchant Id")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Organization Name")</span></th>
                                            @*<th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Wallet Amount")</span></th>*@
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Status")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Fee Balance")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Fee Type")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Margin Conversion Rate")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Created By")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Updated By")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Ip Address")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("API Key/Password")</span></th>
                                            @*<th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("API Password")</span></th>*@
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Public Key/Private Key")</span></th>
                                            <th class="nk-tb-col nk-tb-col-tools text-right"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade " tabindex="-1" id="PublicPrivateKeys">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-sm">
                <div class="nk-modal">
                    @*<em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>*@
                    <h4 class="nk-modal-title text-center">Public/Private Keys</h4>
                    <div class="nk-modal-text">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label for="lblPublicKey" style="font:bold">Public Key: </label>
                                    <pre style="font-size: 14px; background: #ececec; padding:15px;"> <label id="lblPublicKey"></label></pre>
                                </div>
                                <div class="col-md-12">
                                    <label for="lblPrivateKey" style="font:bold">Private Key: </label>
                                    <pre style="font-size: 14px; background: #ececec; padding: 15px;"><label id="lblPrivateKey"></label></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-modal-action mt-5 text-center">
                    <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-light" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div><!-- .modal-body -->
    </div>
</div>

<div class="modal fade " tabindex="-1" id="APIKey">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-sm">
                <div class="nk-modal">
                    @*<em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>*@
                    <h4 class="nk-modal-title text-center">API Key/Password</h4>
                    <div class="nk-modal-text">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label for="lblAPIKey" style="font:bold">API Key: </label>
                                    <pre style="font-size: 14px; background: #ececec; padding:15px;"> <label id="lblAPIKey"></label></pre>
                                </div>
                                <div class="col-md-12">
                                    <label for="lblAPIPassword" style="font:bold">API Password: </label>
                                    <pre style="font-size: 14px; background: #ececec; padding: 15px;"><label id="lblAPIPassword"></label></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-modal-action mt-5 text-center">
                    <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-light" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div><!-- .modal-body -->
    </div>
</div>
<div class="modal fade " tabindex="-1" id="RemittanceIp">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-sm">
                <div class="nk-modal">
                    <h4 class="nk-modal-title text-center">Add IP</h4>
                    <div class="nk-modal-text">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">

                                    <div class="form-control-wrap">
                                        @Html.TextBox("RemittanceIpAddress", "", new { @id = "RemittanceIpAddress", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                        <label class="form-label-outlined" for="Ip Address">Ip Address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-modal-action mt-5 text-center">
                        <a href="javascript:void(0);" id="btn_AddIP" class="btn btn-primary" onclick="AddIp(event)" data-dismiss="modal">Save</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div>
    </div>
</div>

<div class="modal fade " tabindex="-1" id="AddFeeBalance">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-sm">
                <div class="nk-modal">
                    @*<em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>*@@*<em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-cross bg-danger"></em>*@
                    <h4 class="nk-modal-title text-center">Add Fee Balance</h4>
                    <div class="nk-modal-text">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtFeeType">Type: </label>
                                        <input type="text" value="Fee Account Balance" readonly="readonly" id="txtFeeType" name="txtFeeType" class="form-control form-control-md" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="drpSign">Select Sign  </label>
                                        <select name="Sign" id="drpFeeSign" onchange="getNewValFee(this);" class="form-select form-control form-control-md form-control-outlined">
                                            <option value="1">Credit</option>
                                            <option value="2">Debit</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtFeeAmount">Amount: </label>
                                        <input type="text" id="txtFeeAmount" name="txtFeeAmount" autocomplete="off" maxlength="8" onkeypress="return isNumberKey(this, event);" placeholder="Enter Amount" class="form-control form-control-md form-control-outlined" />
                                    </div>
                                    <div class="col-md-6" id="dvFeetxnid">
                                        <label for="txtFeeTxnId">Txn ID: </label>
                                        <input type="text" id="txtFeeTxnId" name="txtFeeTxnId" placeholder="Enter Txn ID" onkeypress="return isNumberKey(this, event);" class="form-control form-control-md form-control-outlined" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="txtFeeRemarks">Remarks: </label>
                                        <textarea id="txtFeeRemarks" name="txtFeeRemarks" cols="40" placeholder="Enter Remarks" rows="5" class="form-control form-control-md form-control-outlined"></textarea>
                                    </div>
                                    <div class="col-md-6" id="dvFeetxnidFile">
                                        <label>Upload Receipt: </label>

                                        <div class="custom-file text-left mt-3">
                                            @*<input type="file" multiple class="custom-file-input" id="TxnReceiptFile" name="TxnReceiptFile">*@
                                            <input type="file" id="FeeTxnReceiptFile" name="FeeTxnReceiptFile" class="custom-file-input" onchange="UploadAjaxImage(this, 'UploadReceiptRemittance', 'FeeReceiptImage', 1000,1);" />
                                            <label class="custom-file-label" for="customMultipleFiles">Choose files</label>
                                        </div>
                                        <div class="">
                                            <img ID="targetFeeReceiptImage" class="custom-file-inputrounded-top" width="120" src="~/Content/assets/Images/noimageblank.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <span style="color:red" id="dvFeePopupMsg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-modal-action mt-5 text-center">
                    <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-primary" onclick="SubmitAddFee();">Submit</a>
                    <a href="javascript:void(0);" class="btn btn-lg btn-mw btn-light" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div><!-- .modal-body -->
    </div>
</div>


<style>
    .form-icon-right + .form-control, div.dataTables_wrapper div.dataTables_filter .form-icon-right + input, .dual-listbox .form-icon-right + .dual-listbox__search {
        padding-left: 1rem;
        padding-right: calc(1rem + 24px);
        background-color: white;
    }

    .dt-buttons.btn-group.flex-wrap {
        display: none;
    }
</style>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/content/assets/js/dtable_Remittance.js"></script>
<script>
    $(document).ready(function () {
        $("#dvtblist").css("display", "none");
        $('.date-picker').datepicker({
            format: "dd-M-yyyy"
        }).datepicker('setDate', 'today');
        //BindEmpDataTable();
    });
    function bindtable() {
        $("#dvtblist").css("display", "block");
        BindMerchantDataTable();
    };

    function getNewValFee(item) {
        if (item.value == 2) {
            $("#dvFeetxnid").css("display", "none");
            $("#dvFeetxnidFile").css("display", "none");
        }
        else if (item.value == 1) {
            $("#dvFeetxnid").css("display", "block");
            $("#dvFeetxnidFile").css("display", "block");
        }
    }
</script>