
@model  MyPay.Models.Request.Req_MyPayUserLogin


@{
    ViewBag.Title = "MyPayUserLogin";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/Content/assets/MyPayUserApp/images/favicon.png">
    <!-- Page Title  -->
    <title>MyPay</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/Content/assets/MyPayUserApp/css/dashlite.css">
    <link id="skin-default" rel="stylesheet" href="/Content/assets/MyPayUserApp/css/theme.css?ver=2.9.1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="nk-body npc-general pg-auth bg-gradient" oncontextmenu="return false;">

    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <div class="strip-1"></div>
            <div class="strip-2"></div>
            <div class="strip-3"></div>
        </div>
    </div>
    <div class="nk-app-root">
        <!-- main #start -->
        <div class="nk-main ">
            <!-- wrap #start -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content #start -->
                <div class="nk-content ">
                    <div class="nk-block nk-auth-body wide-xs p-0 loginscreen py-md-5 signinscreen">
                        <div class="login-header text-center">
                            <a href="javascript:void(0);" class="logo-link">
                                <img class="logo-dark logo-img logo-img-lg" src="/Content/assets/MyPayUserApp/images/logo.png" srcset="/Content/assets/MyPayUserApp/images/logo2x.png 2x" alt="logo-dark">
                            </a>
                        </div>
                        <!--  <div class="brand-logo text-center bg-gradient py-5 circ-gr">
                             <a href="javascript:void(0);" class="logo-link">

                                 <img class="logo-dark logo-img logo-img-lg" src="images/logo.png" srcset="images/logo2x.png 2x" alt="logo-dark">
                             </a>
                             <h5 class="text-white mt-4 trusted">Welcome to MyPay Payments</h5>
                         </div> -->
                        <div class="card">
                            <div class="card-inner card-inner-lg">
                                <form class="mypaye-step-form loginform">
                                    <div class="row gy-3">
                                        <div class="col-md-12">
                                            <div class="log-des" style="text-align:center;">
                                                <h4 class="nk-block-title">Welcome to MyPay!</h4>
                                                <div class="nk-block-des">
                                                    <p> <b>+977 @ViewBag.ContactNumber</b></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="form-control-wrap text-center otp text-soft">
                                                    Enter Password
                                                    @Html.Password("Password", "", new Dictionary<string, object> { { "Id", "Password" }, { "class", "form-control form-control-lg" }, { "autocomplete", "off" }, { "placeholder", "------" }, { "data-msg", "Required" } })

                                                    <a href="javascript:void(0);" class="form-icon form-icon-right passcode-switch lg mt-4" data-target="Password">
                                                        <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                        <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group forgot">
                                                <a href="/MyPayUserLogin/ForgotPassword">Forgot Password</a>
                                            </div>

                                        </div>


                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a href="javascript:void(0)" class="btn btn-lg btn-primary btn-block" id="logsubmit" onclick="CheckRequestLogin();">Login</a>
                                        </div>

                                        <div class="form-group forgot" style="text-align:center;">
                                            <a href="/MyPayUserLogin/Index">Back</a>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="create-new">
                                                <p>New User?</p>
                                                <a href="/MyPayUserLogin/Index">Create an Account</a>
                                            </div>
                                        </div>
                                    </div>



                                    <div id="dvMessage" class="form-group" style="color:red; text-align:center;">
                                        @ViewBag.Message
                                        <span id="successmsg" style="color:green">
                                            @TempData["AdminMessage"]
                                        </span>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div><!--loginscreen-->

                </div>
                <!-- wrap #end -->
            </div>
            <!-- content #end -->
        </div>
        <!-- main #end -->
    </div>
    <!-- app-root #end -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="js/bundle.js?ver=2.9.1"></script>
    <script src="js/scripts.js?ver=2.9.1"></script>

    @Scripts.Render("~/bundles/mypayuserapp_login")
    @Scripts.Render("~/bundles/mypayuserapp_requestlogin")
    @*<script src="~/Content/assets/MyPayUserApp/js/mypayuserapp_login.js"></script>
        <script src="~/Content/assets/MyPayUserApp/js/mypayuserapp_requestlogin.js"></script>*@
    <style>

        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 20px;
            height: 20px;
            background: #ffa353;
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: #F8E401;
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: #E45415;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        ::-ms-reveal {
            display: none
        }
    </style>
</body>

</html>