@using MyPay.Models.Add;
@model AddBankingNPS
@{
    ViewBag.Title = "Banking";
    Layout = null;
}


@*<form action="https://gatewaysandbox.nepalpayment.com/Payment/Index" method="post" enctype="multipart/form-data">*@
<form action="https://gateway.nepalpayment.com/Payment/Index" method="post" enctype="multipart/form-data">
    <div style="display:none">
        <br>
        MerchantId
        <input type="text" name="MerchantId" id="MerchantId" value="@Model.MerchantId" />
        <br>
        MerchantName
        <input type="text" name="MerchantName" id="MerchantName" value="@Model.MerchantName" />
        <br>
        Amount
        <input type="text" name="Amount" id="Amount" value="@Model.Amount" />
        <br>
        MerchantTxnId
        <input type="text" name="MerchantTxnId" id="MerchantTxnId" value="@Model.MerchantTxnId" />
        <br>
        TransactionRemarks
        <input type="text" name="TransactionRemarks" id="TransactionRemarks" value="@Model.TransactionRemarks" />
        <br>
        InstrumentCode
        <input type="text" name="InstrumentCode" id="InstrumentCode" value="@Model.InstrumentCode" />
        <br>
        ProcessId
        <input type="text" name="ProcessId" id="ProcessId" value="@Model.ProcessId" />

        <br>
        <input type="submit" id="btnsubmit" value="Submit">
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $("#btnsubmit").trigger("click");
        });



    </script>
</form>
