@model MyPay.Models.Request.Req_Web_Occupation
@{
    ViewBag.Title = "OccupationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Occupation List</h3>
                            @*<div class="nk-block-des text-soft">
                                    <p>You have total  @Model.objData.Count users.</p>
                                </div>*@
                        </div><!-- .nk-block-head-content -->



                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        @*<li>
                                                <a href="/User/UserExport" class="btn btn-white btn-dim btn-outline-primary"><em class="icon ni ni-download-cloud"></em><span>Export</span></a>

                                            </li>*@
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="~/Occupation/Index" class="btn btn-icon btn-primary" title="Add Occupation"><em class="icon ni ni-plus"></em></a>
                                                @*<div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="~/Occupation/Index"><span>Add Occupation</span></a></li>

                                                    </ul>
                                                </div>*@
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->


                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle pb-3 pt-3">
                                <!-- <span class="preview-title-lg overline-title mb-4">User List</span> -->
                                <div class="card-title-group">
                                    <div class="card-tools">
                                        <span class="preview-title-lg overline-title pb-0">Occupation List</span>
                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <div class="card-search search-wrap" data-search="search">
                                    <div class="card-body">
                                        <div class="search-content">
                                            <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                        </div>
                                    </div>
                                </div><!-- .card-search -->
                            </div><!-- .card-inner -->
                            <div class="card-inner">
                                <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                    @ViewBag.Message
                                </div>
                                <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                                    @ViewBag.SuccessMessage
                                </div>
                                <div class="table-responsive">
                                    <table class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr class="nk-tb-item nk-tb-head">  
                                                <th class="nk-tb-col tb-col-md"><span class="sub-text">Title</span></th>       
                                                <th class="nk-tb-col"><span class="sub-text">Status</span></th>
                                                <th class="nk-tb-col"><span class="sub-text">Edit</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var itm in Model.objData)
                                            {
                                                <tr class="nk-tb-item"> 
                                                    <td class="nk-tb-col tb-col-md">
                                                        <span>
                                                            @itm.CategoryName
                                                        </span>
                                                    </td> 
                                                    <td class="nk-tb-col tb-col-lg">
                                                        <a href="Occupation/OccupationList" onclick="return BlockUnblock(@itm.Id,'/Occupation/OccupationBlockUnblock',event)" class="btn @(itm.IsActive == true ? "btn-success" :"btn-danger") btn-sm btn-icon" title="@(itm.IsActive == true ?"Enable":"Disable")"><em class="icon ni @(itm.IsActive==true?"ni-check-circle":"ni-na")"></em></a>
                                                    </td>
                                                    <td class="nk-tb-col">
                                                        <a href="Occupation/Index?Id=@itm.Id" class="btn btn-primary btn-sm btn-icon" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <em class="icon ni ni-edit"></em>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- .card-inner -->

                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<script>
    function BlockUnblock(id, url, e) {
        $("#dvMsgSuccess").html("");
        $("#dvMsg").html("");
        $.ajax({
            type: "POST",
            url: "" + url + "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            data: '{"Id":"' + id + '"}',
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    if (response.Id == "0") {
                        $("#dvMsg").html("Records not updated.");
                        return false;
                    }
                    else {
                        debugger;
                        $("#dvMsgSuccess").html("successfully updated");
                        location.reload();
                        //e.preventDefault();
                        //e.stopPropagation();
                        return true;
                    }
                }
                else {
                    $("#dvMsg").html("Something went wrong. Please try again later.");
                    return false;
                }
            },
            failure: function (response) {
                $("#dvMsg").html(response.responseText);
                return false;
            },
            error: function (response) {
                $("#dvMsg").html(response.responseText);
                return false;
            }
        });

    }
</script>

