@model MyPay.Models.Add.AddServiceInactiveRemarks

@{
    ViewBag.Title = "ServiceInactiveRemarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Service InActive Remarks</h3>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card card-bordered card-stretch">
                            <div class="card-inner-group">
                                @*<div class="card-inner position-relative card-tools-toggle pb-5">
                                    <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <div id="dvMessage" class="form-group form-label" style="color:red; text-align:center;">
                                                @ViewBag.Message
                                            </div>
                                            <div id="dvSuccess" class="form-group form-label" style="color: green; text-align: center;">
                                                @ViewBag.SuccessMessage
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="card-inner position-relative card-tools-toggle pb-3 pt-3">
                                    <!-- <span class="preview-title-lg overline-title mb-4">User List</span> -->
                                    <div class="card-title-group">
                                        <div class="card-tools">
                                            <span class="preview-title-lg overline-title pb-0">Service Inactive Remarks List</span>
                                        </div><!-- .card-tools -->
                                    </div><!-- .card-title-group -->
                                    <div class="card-search search-wrap" data-search="search">
                                        <div class="card-body">
                                            <div class="search-content">
                                                <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                                <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                            </div>
                                        </div>
                                    </div><!-- .card-search -->
                                </div><!-- .card-inner -->
                                <div id="dvtblist" class="card-inner table-responsive" style="min-height:400px;">
                                    <table id="tbllist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr class="nk-tb-item nk-tb-head">
                                                <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Date")</span></th>
                                                <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Service Name")</span></th>
                                                <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Remarks")</span></th>
                                                <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Action")</span></th>
                                                <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Created By")</span></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div><!-- .card-inner -->
                            </div><!-- .card-inner-group -->
                        </div><!-- .card -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-icon-right + .form-control, div.dataTables_wrapper div.dataTables_filter .form-icon-right + input, .dual-listbox .form-icon-right + .dual-listbox__search {
        padding-left: 1rem;
        padding-right: calc(1rem + 24px);
        background-color: white;
    }

    .dt-buttons.btn-group.flex-wrap {
        display: none;
    }
</style>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="./content/assets/js/dtable_serviceinactive.js"></script>
<script>
    $(document).ready(function () {
        $("#dvtblist").css("display", "block");
        BindServiceRemarksDataTable();
    });
</script>