@model MyPay.Models.Add.AddCouponsScratched

@{ ViewBag.Title = "ScratchedCoupons";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/Content/assets/js/libs/jquery-multiselect/jquery.dropdown.css">
<script src="/Content/assets/js/libs/jquery-multiselect/jquery.dropdown.js"></script>

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Scratched Coupons</h3>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <div id="dvMessage" class="form-group form-label" style="color:red; text-align:center;">
                                            @ViewBag.Message
                                        </div>
                                        <div id="dvSuccess" class="form-group form-label" style="color: green; text-align: center;">
                                            @ViewBag.SuccessMessage
                                        </div>
                                    </div>
                                </div>
                                <div class="row gy-4">

                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("StartDate", "", new { @id = "fromdate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="fromdate">From Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("ToDate", "", new { @id = "todate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="todate">To Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("MemberId", "", new { @id = "MemberId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Member Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Member Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ContactNumber", "", new { @id = "ContactNumber", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @maxlength = 10, @onkeypress = "return isNumberKey(this, event);", @placeholder = "Mobile Number" })-->
                                                @*<label class="form-label-outlined" for="outlined-normal">Mobile Number</label>*@
                                            <!--</div>
                                        </div>
                                    </div>-->
                                    <!--<div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("Name", "", new { @id = "Name", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Name" })-->
                                                @*<label class="form-label-outlined" for="outlined-normal">Name</label>*@
                                            <!--</div>
                                        </div>
                                    </div>-->
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("TransactionId", "", new { @id = "TransactionId", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off", @placeholder = "Transaction Id" })
                                                @*<label class="form-label-outlined" for="outlined-normal">Txn Id</label>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <a class="btn btn-primary text-center text-white" onclick="return bindtable();">Search</a>
                                            @*<button type="submit" class="btn btn-primary text-center">Search</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dvtblist" class="card-inner">
                                <div class="table-responsive">
                                    <table id="tblist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                        <thead>
                                            <tr>
                                                <th class="nk-tb-col">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("SrNo")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Date")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Transaction Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Member Id")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Member Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Contact No")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Coupon Code")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Coupon Type")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Service Name")
                                                    </span>
                                                </th>
                                                <th class="nk-tb-col tb-col-md">
                                                    <span class="sub-text">
                                                        @Html.DisplayName("Remarks")
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div><!-- .card-inner -->

                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="./content/assets/js/dtable_admincoupon.js"></script>

<script>

    $(document).ready(function () {
        $('.date-picker').datepicker({
            format: "dd-M-yyyy"
        }).datepicker('setDate', 'today');
        BindScratchedCouponDataTable();
    });
    function bindtable() {
        BindScratchedCouponDataTable();
    }


</script>

