@model MyPay.Models.Add.AddMerchantBankDetail
@{
    ViewBag.Title = "MerchantBankDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm"> 
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-aside-wrap">
                                <div class="card-inner">
                                    <div class="nk-block">
                                        <div class="nk-block-head">
                                            <div>
                                                <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                                    <li class="nav-item">
                                                        <h5 class="title">Add Merchant Bank </h5>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .nk-block-head -->
                                        <div class="nk-block-head nk-block-head-line mt-3 mb-2">
                                            <h6 class="title overline-title text-base">Merchant Bank Detail</h6>
                                        </div>
                                        <div class="row gy-4 justify-center">
                                            <div class="col-md-6">
                                                <div class="col-lg-12 col-sm-12 mt-3">
                                                    <div class="form-group">
                                                        <div class="form-group text-danger">
                                                            <b>@ViewBag.Message</b>
                                                        </div>
                                                        <div class="form-group text-success">
                                                            <b> @ViewBag.SuccessMessage</b>
                                                        </div>
                                                        <div class="form-control-wrap">
                                                            <label class="form-label">Merchant Name <strong class="text-danger">*</strong></label>
                                                            @{ if (string.IsNullOrEmpty(ViewBag.MerchantUniqueId))
                                                                {
                                                                    @Html.DropDownListFor(m => m.MerchantId, ViewBag.MerchantId as SelectList, "", new { @class = "form-select form-control form-control-md" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(m => m.MerchantId, ViewBag.MerchantId as SelectList, "", new { @class = "form-select form-control form-control-md", @disabled = "disabled" })
                                                                }
                                                            }
                                                            <input type="hidden" id="Name" name="Name" value="@ViewBag.MerchantName" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 mt-3">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <label class="form-label">Bank Name <strong class="text-danger">*</strong></label>
                                                            <div class="dropdown-mul-2">
                                                                @Html.DropDownListFor(m => m.BankCode, ViewBag.BankCode as SelectList, "", new { @class = "", @style = "display:none", })
                                                                @Html.HiddenFor(m => m.BankName)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 mt-3">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <label class="form-label">Account Number <strong class="text-danger">*</strong></label>
                                                            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control form-control-md", @autocomplete = "off", @maxlength = "20", @onkeypress = "return isNumberKey(this, event);" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 mt-3" style="display:none">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <label class="form-label">Active</label>
                                                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control form-control-md" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-lg-12 col-sm-6 justify-center">

                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary text-center mr-2" id="btnSubmitMerchant">Save Bank Details</button>
                                                    <button type="button" onclick="window.location='/Merchant/MerchantBankList'" class="btn btn-light text-center">List</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block --> 
                                </div><!-- .card-content -->
                            </div><!-- .card-aside-wrap -->
                        </div><!-- .card -->
                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="/Content/assets/js/libs/jquery-multiselect/jquery.dropdown.css">
    <script src="/Content/assets/js/libs/jquery-multiselect/jquery.dropdown.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/userscripts.js"></script>
    </div>
    <script>
        $(function () {
            $("#MerchantId").change(function () {
                var value = $("#MerchantId option:selected");
                $("#Name").val(value.text());
            });
        });

        $('.dropdown-mul-2').dropdown({
            searchable: true,
            choice: function () {
                SetBankName();
            }
        });
        function SetBankName() {
            var value = $("#BankCode option:selected");
            $("#BankName").val(value.text());
        }

        $(document).ready(function () {
            $("#btnSubmitMerchant").click(function () {
                if ($("#MerchantId").val() == "") {
                    $("#dvMessage").html("Please Select Merchant Name");
                    return false;
                }
                else if ($("#BankCode").val() == "") {
                    $("#dvMessage").html("Please Select Bank Name");
                    return false;
                }
                else if ($("#AccountNumber").val() == "") {
                    $("#dvMessage").html("Please enter Account Number");
                    return false;

                }
                else {
                    $("#AjaxLoader").show();
                }
            });
        });
    </script>
