@model MyPay.Models.Add.AddUserLoginWithPin
@{ ViewBag.Title = "Change Password";
                Layout = "~/Views/Shared/_MyPayUserLayout.cshtml"; }
<!-- content -->
<div class="nk-content px-2">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="col-12 col-md-8 col-lg-9">
                            <div class="row g-2 h-100">
                                <div class="col-md-12">
                                    <div class="card card-bordered card-full border-bottom">
                                        <div class="card-inner border-bottom bg-lighter">
                                            <div class="card-title-group d-block d-sm-flex">
                                                <div class="card-title  d-sm-block w-100">
                                                    <div class="card-title d-flex w-100 mb-0 align-items-center">
                                                        <h6 class="title mb-0">
                                                            Change Password
                                                            <div class="text-soft fs-13px fw-normal mt-1">Set and confirm a secure password</div>
                                                        </h6>
                                                        <a href="/MyPayUser/MyPayUserSettings" class="btn btn-sm btn-danger ml-auto color-black d-flex align-items-center text-white"> Back</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ENd -->
                                        <!--step3 start-->
                                        <div class="card-inner mt-4">
                                            <div class="row">
                                                <div class="col-md-10 col-lg-7 col-xl-8 col-xxl-5 m-auto">
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <a href="javascript:void(0)" class="form-icon form-icon-right old-passcode-switch" data-target="oldpass">
                                                                        <em class="passcode-icon icon-show icon ni ni-eye-fill"></em>
                                                                        <em class="passcode-icon icon-hide icon ni ni-eye-off-fill"></em>
                                                                    </a>
                                                                    <input type="password" class="form-control form-control-lg form-control-outlined" id="OldPassword" name="">
                                                                    <label class="form-label-outlined" for="oldpass">Enter Old Password</label>
                                                                    @Html.Hidden("MyPayUserOldPassword", (object)ViewBag.MyPayUserOldPassword, new { @id = "MyPayUserOldPassword" })

                                                                </div>
                                                            </div>
                                                        </div><!--col-md-12-->
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <a href="javascript:void(0)" class="form-icon form-icon-right new-passcode-switch" data-target="newpass">
                                                                        <em class="passcode-icon icon-show icon ni ni-eye-fill"></em>
                                                                        <em class="passcode-icon icon-hide icon ni ni-eye-off-fill"></em>
                                                                    </a>
                                                                    @*<input type="password" class="form-control form-control-lg form-control-outlined" id="newpass" name="">*@
                                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg form-control-outlined", @id = "NewPassword", @placeholder = "Enter New password" })
                                                                    <label class="form-label-outlined" for="newpass">Enter New Password</label>
                                                                </div>
                                                            </div>
                                                        </div><!--col-md-12-->
                                                        <div class="col-md-12 mb-4">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <a href="javascript:void(0)" class="form-icon form-icon-right confirm-passcode-switch" data-target="confirmpass">
                                                                        <em class="passcode-icon icon-show icon ni ni-eye-fill"></em>
                                                                        <em class="passcode-icon icon-hide icon ni ni-eye-off-fill"></em>
                                                                    </a>
                                                                    <input type="password" class="form-control form-control-lg form-control-outlined" name="ConfirmPassword" id="ConfirmPassword" placeholder="Enter Confirm password">
                                                                    @*<input type="password" class="form-control form-control-lg form-control-outlined" id="confirmpass" name="">*@
                                                                    <label class="form-label-outlined" for="confirmpass">Enter Confirm Password</label>
                                                                </div>
                                                            </div>
                                                        </div><!--col-md-12-->
                                                        <div class="col-12">
                                                            <a href="javascript:void(0);" id="btnChangePassword" class="btn btn-primary btn-lg d-block">Change Password</a>
                                                        </div>
                                                        <div class="form-group">
                                                            <span id="dvMessage" style="color:red">
                                                                @ViewBag.Message
                                                            </span>
                                                        </div>
                                                    </div><!--row-->
                                                </div><!--col-md-10 col-lg-8 col-xl-5 m-auto-->
                                            </div><!--row-->
                                        </div><!--card-inner-->
                                    </div><!--card -->
                                </div><!--col-md-12-->
                            </div><!--row-->
                        </div>
                        <!-- Right Sidebar -->
                        @if (@Session["IsKycVerified"] != null)
                        {
            @RenderPage("~/Views/MyPayUser/MyPayRightSide.cshtml")}
                    </div><!-- .row -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content -->

<script>
    const togglePassword = document.querySelector(".passcode-switch");
    //const password = document.querySelector("#oldpass");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("is-shown");
    });


</script>



<!-- Confirmation Details -->
<div class="modal fade zoom" tabindex="-1" id="PaymentSuccess" style="display:none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
                <img src="~/Content/assets/MyPayUserApp/images/jeni_success.png" />
                <h6 class="nk-modal-title text-center">Success</h6>
                <small class="text-soft d-block text-center mt-1">Password Changed Successfully</small>
                <div class="nk-modal-action mt-3 mt-sm-4 text-center">
                    <a href="/MyPayUserLogin/Dashboard" class="btn btn-mw btn-primary w-45">Ok</a>
                </div>

            </div>

        </div>
    </div>
</div>

<script src="~/Content/assets/MyPayUserApp/js/mypayuserapp_ChangePassword.js"></script>
