@model MyPay.Models.Add.AddUser
@{ ViewBag.Title = "MyPayUserBankListall";
    Layout = "~/Views/Shared/_MyPayUserLayout.cshtml"; }

<div class="nk-content px-2">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                    </div>

                    <div class="nk-block">
                        <div class="row g-gs">



                            <div class="col-12 col-md-8 col-lg-9">
                                <div class="row g-2 h-100">


                                    <div class="col-md-12">
                                        <div class="card card-bordered card-full border-bottom">

                                            <div class="card-inner border-bottom bg-lighter">
                                                <div class="card-title-group d-block d-sm-flex">
                                                    <div class="card-title d-none d-sm-block">
                                                        <h6 class="title">Link Bank Account </h6>
                                                    </div>

                                                </div>
                                            </div>


                                            <div class="card-inner selectbank">
                                                <div class="row">

                                                    <div class="col-12 m-auto">
                                                        <div id="DivBankAll" style="display:none">
                                                            <div class="card-title-group">
                                                                <div class="card-title d-flex w-100 mb-4">
                                                                    <h6 class="title">Select a Bank To Add Account</h6>
                                                                    <a href="javascript:void(0)" onclick="BankLinkBackClick();" class="ml-auto color-black"><em class="icon ni ni-arrow-left"></em> Back</a>
                                                                </div>
                                                            </div>
                                                            <div class="card-inner selectbank">
                                                                <div id="dvRecordsDisplay" class="row">

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="DivAccountInfo" style="display:none">
                                                            <div class="card-title d-flex w-100 mb-4">
                                                                <a href="javascript:void(0)" onclick="BankAllBackClick();" class="ml-auto color-black"><em class="icon ni ni-arrow-left"></em> Back</a>
                                                            </div>
                                                            <div class="card-inner col-sm-6" style="margin:auto">
                                                                <div class="nk-block-head-content">
                                                                    <h4 class="nk-block-title">
                                                                        <img id="ImgBankLogo" width="30">
                                                                        <span id="SpanBankName" />
                                                                    </h4>

                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-label-group">
                                                                    </div>
                                                                    <div class="form-label-group">
                                                                        <label class="form-label" for="MobileNo">Account No.</label>
                                                                    </div>
                                                                    <div class="form-control-wrap">
                                                                        <input type="text" class="form-control form-control-lg" maxlength="20" placeholder="Enter Account No." autocomplete="off" id="AccountNo" name="AccountNo" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
                                                                    </div>
                                                                    <br /><br />
                                                                    <div style="border: 3px dotted #afafaf; padding: 19px;">
                                                                        <div class="form-label-group">
                                                                            <label class="form-label text-soft" for="Provider">User Name</label>
                                                                        </div>
                                                                        <div class="form-control-wrap">
                                                                            <b><span id="UserName" /></b>
                                                                        </div>
                                                                        <div class="form-label-group">
                                                                            <label class="form-label text-soft" for="Amount">Mobile Number</label>
                                                                        </div>
                                                                        <div class="form-control-wrap">
                                                                            <b><span id="MobileNumber" /></b>
                                                                        </div>
                                                                    </div><br />
                                                                    <div class="form-group">
                                                                        <a id="btnProceed" class="btn btn-primary text-center text-white" style="width:auto;display:block">Proceed</a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <input type="hidden" id="hfBankCode">
                                                        </div>

                                                    </div>
                                                </div><!-- .card-content -->
                                            </div><!-- .card-aside-wrap -->

                                            <div id="dvMsg" class="form-group" style="color:red;text-align:center;">
                                                <span id="errormsg" style="color:red">
                                                    @ViewBag.Message
                                                </span>
                                                <span id="successmsg" style="color:green">
                                                    @ViewBag.SuccessMessage
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-block-head">
                                        <div class="form-group" style="color:red">
                                            @ViewBag.Message
                                        </div>
                                        <div class="form-group" style="color:green">
                                            @ViewBag.SuccessMessage
                                        </div>
                                    </div><!-- .nk-block-head -->
                                </div>
                            </div>

                            @if (@Session["IsKycVerified"] != null)
                            {
                @RenderPage("~/Views/MyPayUser/MyPayRightSide.cshtml")}

                        </div><!-- .card -->

                    </div><!-- .nk-block -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " tabindex="-1" id="KYCPopup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-sm">
                <div class="nk-modal">
                    <h6 class="title text-center">Your KYC Should be approved to link a bank account</h6>
                    <div class="nk-modal-action mt-5 text-center">
                        <a href="javascript:void(0);" class="btn btn-primary text-center btn-light  " data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div>
    </div>
</div>


<div class="modal fade " tabindex="-1" id="dvMessageModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body modal-body-sm">
                <div class="nk-modal">
                    <div id="dvMessage" class="form-group" style="color:red; text-align:center;">
                       <h6 class="fs-14px mt-3 mb-4" id="txnMsg" style="color: red"></h6>
                    </div>
                    <div class="nk-modal-action mt-5 text-center">
                        <a href="javascript:void(0);" class="btn btn-primary text-center btn-light  " data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/mypayuserapp_Banklistall")
@*<script src="~/Content/assets/MyPayUserApp/js/mypayuserapp_Banklistall.js"></script>*@
