@model MyPay.Models.Add.AddAdmin

@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Employee Management</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total  <span id="employeetotalcount"></span> employee.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                @*<a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>*@
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <a href="~/Employee/Index" class="btn btn-icon btn-primary" title="Add Employee"><em class="icon ni ni-plus"></em></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->

                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle pb-5">
                                <span class="preview-title-lg overline-title mb-4">Quick Search</span>
                                <div class="row gy-4">
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.DropDownList("RoleId", ViewBag.RoleId as SelectList, "", new { @id = "RoleId", @class = "form-select form-control form-control-md" })

                                                <!--<select name="RoleId" id="RoleId" class="form-select form-control form-control-md form-control-outlined">-->
                                                @*<option value="0">-- Select Role --</option>*@
                                                <!--<option value="5">Employee</option>
        <option value="6">Business</option>
        <option value="7">Marketing</option>
        <option value="8">Auditor</option>
    </select>-->
                                                <label class="form-label-outlined" for="RoleId">Role</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("FirstName", "", new { @id = "FirstName", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                                <label class="form-label-outlined" for="FirstName">First Name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("ContactNumber", "", new { @id = "ContactNumber", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                                <label class="form-label-outlined" for="ContactNumber">Contact Number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                @Html.TextBox("Email", "", new { @id = "Email", @class = "form-control form-control-md form-control-outlined", @autocomplete = "off" })
                                                <label class="form-label-outlined" for="Email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("StartDate", "", new { @id = "fromdate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="fromdate">Start Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right md">
                                                    <em class="icon ni ni-calendar-alt"></em>
                                                </div>
                                                @Html.TextBox("ToDate", "", new { @id = "todate", @class = "form-control form-control-md form-control-outlined date-picker", @autocomplete = "off", @readonly = "readonly" })
                                                <label class="form-label-outlined" for="todate">End Date</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6">
                                        <div class="form-group">
                                            <a class="btn btn-primary text-center text-white" onclick="return bindtable();">Search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner position-relative card-tools-toggle pb-3 pt-3">
                                <!-- <span class="preview-title-lg overline-title mb-4">User List</span> -->
                                <div class="card-title-group">
                                    <div class="card-tools">
                                        <span class="preview-title-lg overline-title pb-0">Employee List</span>
                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <div class="card-search search-wrap" data-search="search">
                                    <div class="card-body">
                                        <div class="search-content">
                                            <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by user or email">
                                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                        </div>
                                    </div>
                                </div><!-- .card-search -->
                            </div><!-- .card-inner -->
                            <div id="dvtblist" class="card-inner table-responsive">
                                <table id="tblemplist" class="nowrap nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                                    <thead>
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("SrNo")</span></th>
                                            <th class="nk-tb-col"><span class="sub-text">@Html.DisplayName("Full Name")</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">@Html.DisplayName("Joining Date")</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">@Html.DisplayName("User Id")</span></th>
                                            <th class="nk-tb-col tb-col-lg"><span class="sub-text">@Html.DisplayName("Contact")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Email")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Role")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Status")</span></th>
                                            <th class="nk-tb-col tb-col-md"><span class="sub-text">@Html.DisplayName("Password Status")</span></th>
                                            <th class="nk-tb-col nk-tb-col-tools text-right"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<style>
    .form-icon-right + .form-control, div.dataTables_wrapper div.dataTables_filter .form-icon-right + input, .dual-listbox .form-icon-right + .dual-listbox__search {
        padding-left: 1rem;
        padding-right: calc(1rem + 24px);
        background-color: white;
    }

    .dt-buttons.btn-group.flex-wrap {
        display: none;
    }
</style>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="~/content/assets/js/dtable_employee.js"></script>
<script>
    $(document).ready(function () {
        $("#dvtblist").css("display", "none");
        //$('.date-picker').datepicker({
        //    format: "dd-M-yyyy"
        //}).datepicker('setDate', 'today');
        //BindEmpDataTable();
    });
    function bindtable() {
        $("#dvtblist").css("display", "block");
        BindEmpDataTable();
    };

</script>